.mob-liked-goods {
    border-color: white;
}
.mob-liked-goods svg path {
    fill: white;
}

@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
    .mob-liked-goods {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}
