.partners {
    padding: 100px 0;
    
    background-color: $color-bg-beta;
    min-height: 300px;

    &__title {
        text-align: center;
    }
    &__wrap-slider {
    }
    &__slider {
    }
    &__item {
        border-radius: 20px;
        background: #fff;
    }
}
