.arrow-arr {
    $arrow-arr-size: 100%;
    $arrow-arr-width : 2px; 
    $arrow-arr-color: $color-beta;
    //---------------------------- 
    border-radius: 50%;
    position: relative;
    height: $arrow-arr-size;
    width: $arrow-arr-size;



    &::after {
        content: "";
        position: absolute;
        border-left: 2px solid $arrow-arr-color;
        border-top: 2px solid $arrow-arr-color;
        width: 10px;
        height: 10px;
        left: 39%;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    
    &::before{
        content: "";
        position: absolute;
        width: 20%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        height: $arrow-arr-width;
        background-color: $arrow-arr-color;
    }
}
