.novelties {
    background-color: $color-bg-beta;

    &__title {
        text-align: center;
    }
}

//--- slider ---

* {
    box-sizing: border-box;
}
.slider {
    // min-height: 255px;
    border: 15px solid transparent;

    &__block {
        position: relative;
    }

    &__wrap {
        overflow: hidden;
        // border: 1px solid $color-alpha;
    }

    &__line {
        display: grid;
        gap: 30px;
        grid-auto-flow: column;
        height: 100%;
        transition: all 0.7s ease;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        user-select: none;
        // border: 1px solid red;
    }

    &__btn {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);

        display: inline-flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        width: 70px;
        height: 70px;
        transition: all 0.3s ease;
        border: 1px solid $color-beta;
        background-color: transparent;
        z-index: 1;

        &-left {
            left: -70px;
            transform: translateY(-50%);
        }

        &-right {
            right: -70px;
            transform: translateY(-50%) rotate(180deg);
        }

        &:hover {
            background: $color-beta;
        }

        &:hover ::after {
            border-color: #fff;
        }

        &:hover ::before {
            background-color: #fff;
        }

        &:active {
            background: $color-alpha;
            border-color: $color-alpha;
        }
        &:focus {
            outline: none;
        }
    }

    //--- dots ---

    &__dot-list {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        //--------------------
        display: inline-flex;
        height: 30px;
        align-items: end;
        margin: 20px auto;
    }

    &__dot-wrap {
        display: flex;
        align-items: end;
        height: 100%;
        padding: 0 5px;
    }

    &__dot {
        height: 50%;
        width: 6px;
        background-color: rgba(140, 50, 19, 0.06);
        border-radius: 25px;
    }

    &__dot--active {
        height: 100%;
        background-color: $color-gamma;
    }

    //--- /dots ---
    
    // ---  adaptive ---
    @media (max-width: 1440px) {
        &__btn {
            &-left {
                left: 30px;
            }

            &-right {
                right: 30px;
            }
        }
    }
    @media (max-width: 1024px) {
    }
    @media (max-width: 992px) {
        &__line {
            gap: 20px;
        }
        &__btn {
            display: none;
        }
    }
    @media (max-width: 768px) {
    }
    @media (max-width: 425px) {
        & {
            margin: 20px;
            &__line {
                gap: 10px;
            }
        }

        &__line {
            gap: 10px;
        }
    }
    @media (max-width: 375px) {
    }
    @media (max-width: 320px) {
    }

    // ---  /adaptive ---
}

//--- /slider ---

//--- card ---

.card {
    display: grid;
    grid-template-rows: 1fr max-content;
    position: relative;
    width: 100%;
    min-height: 355px;
    border-radius: 20px;
    background: $color-bg-alpha;
    transition: all 0.3s ease;
    padding: 10px;

    &:hover {
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
    }

    &__btn-compare {
        position: absolute;
        right: 10px;
        top: 10px;
        display: inline-block;
        padding: 10px;
        background-color: transparent;
        border-color: transparent;
    }

    &__img-wrap {
        width: 100px;
        margin: 20px auto 30px auto;
    }

    &__img {
    }

    &__block-text {
        position: relative;
        padding: 20px;
        border-radius: 20px;
        background: rgba(140, 50, 19, 0.06);
    }

    &__prod-name {
        font-weight: 600;
    }

    &__prod-state {
        color: $color-alpha;
        font-size: 0.9rem;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__prod-parce {
        color: $color-beta;
        font-size: 1.1rem;
        font-weight: 700;
    }

    &__prod-quantity {
        font-size: 0.9rem;
        font-weight: 400;
    }

    &__btn-bask {
        position: absolute;
        bottom: 20px;
        right: 20px;
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.15);
        border-color: transparent;
    }
}

//--- /card ---
