.banner {
    position: relative;
    height: 100vh;
    max-height: 1300px;
    min-height: 1000px;

    background-image: url(../img/baner.jpg);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position-y: bottom;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1)
        );
    }

    &__container-big {
        position: relative;
        height: inherit;
        height: 100%;
    }

    &__container {
        height: 100%;
        padding-top: 30%;
    }

    &__title {
        font-size: 3.438rem;
    }

    &__sub-title {
        font-size: 3.438rem;
        font-weight: 300;
        margin-left: 41px;
    }

    &__desc {
        max-width: 561px;
        margin-bottom: 23px;
        margin-left: 41px;
    }

    &__btn {
        margin-left: 41px;
    }

    &__img-wrap {
        display: flex;
        display: block;
        position: absolute;
        bottom: 0;
        left: 58%;
        width: 42%;
    }

    &__img {
        border-radius: 30% 0 40% 0;
    }

    .leaf1 {
        position: absolute;
        left: -18%;
        bottom: 16%;
        width: 30%;
    }
    .leaf2 {
        position: absolute;
        left: -13%;
        bottom: 10%;
        width: 20%;
    }

    .leaf3 {
        position: absolute;
        right: 3%;
        top: -15%;
        width: 30%;
    }
}

//---  adaptive ---

@media (max-width: 1620px) {
    .banner {
        &__img-wrap {
        }
    }
}
@media (max-width: 1440px) {
    .banner {
    }
}
// @media (max-width: 1024px) {
// }
@media (max-width: 992px) {
    .banner {

        &__container {
            padding-top: 210px;
        }
        
        &__title {
            font-size: 2rem;
        }
        &__sub-title {
            font-size: 2rem;
        }

        &__img-wrap {
            width: 500px;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);
        }

        &__img {
        }

        &__box-desc {
            justify-content: start;
            padding-top: 250px;
        }
        &__btn {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 5%;
            margin: 0 20px;
        }
    }
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
    .banner {
        background-image: url(../img/banner-mob.jpg);
        background-size: cover;
        background-position: 50% 50%;
        &__container {
            padding-top: 200px;
        }

        &__title {
            font-size: 1.563rem;
        }
        &__sub-title {
            font-size: 1.563rem;
            margin-bottom: 20px;
        }

        &__img-wrap {
            width: 100%;
            padding: 0 10px;
        }
    }
}

@media (max-width: 425px) {
    .banner {

        &__sub-title {
            font-size: 1.563rem;
            margin-bottom: 20px;
        }

        // &__img-wrap {
        //     width: 100%;
        //     padding:0 5px ;
        // }
    }
}
@media (max-width: 375px) {
}
@media (max-width: 320px) {
}

//--- /adaptive ---
