@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"), url("/fonts/Montserrat-Bold.woff"),
        local("Montserrat-Bold"), url("/fonts/Montserrat-Bold.woff2");
    font-weight: Bold;
    font-style: normal;
    font-display: swap;

    font-family: "Montserrat";
    src: local("Montserrat-Light"), url("/fonts/Montserrat-Light.woff"),
        local("Montserrat-Light"), url("/fonts/Montserrat-Light.woff2");
    font-weight: Light;
    font-style: normal;
    font-display: swap;

    font-family: "Montserrat";
    src: local("Montserrat-Regular"), url("/fonts/Montserrat-Regular.woff"),
        local("Montserrat-Regular"), url("/fonts/Montserrat-Regular.woff2");
    font-weight: Regular;
    font-style: normal;
    font-display: swap;
    
    font-family: "Montserrat";
    src: local("Montserrat-SemiBolt"), url("/fonts/Montserrat-SemiBolt.woff"),
        local("Montserrat-SemiBolt"), url("/fonts/Montserrat-SemiBolt.woff2");
    font-weight: SemiBold;
    font-style: normal;
    font-display: swap;
    
    font-family: "Roboto";
    src: local("Roboto-Regular"), url("/fonts/Roboto-Regular.woff"),
        local("Roboto-Regular"), url("/fonts/Roboto-Regular.woff2");
    font-weight: SemiBold;
    font-style: normal;
    font-display: swap;
}
