<section class="catalog container">
    <ul class="catalog__pag">
        <li class="catalog__pag-item">
            <a href="index.html">home</a>
        </li>
        <li class="catalog__pag-item">
            <a>catalog</a>
        </li>
        <li  class="catalog__pag-item">
            <a class="item--active"  href="#">plant protection</a>
        </li>
    </ul>

    <h2 class="catalog__title title title-two container">Catalog</h2>

    <ul class="catalog__prod">
        <li class="catalog__item"></li>
        <li class="catalog__item"></li>
        <li class="catalog__item"></li>
        <li class="catalog__item"></li>
        <li class="catalog__item"></li>
        <li class="catalog__item"></li>
        <li class="catalog__item"></li>
        <li class="catalog__item"></li>
    </ul>
</section>
