.header {
    position: absolute;
    left: 0;
    right: 0;
    display: grid;
    // overflow: hidden;
    
    &__sud {
        display: grid;
        grid-template-columns: max-content 1fr 1fr repeat(3, max-content);
        padding-top: 50px;
        min-height: 150px;
        align-items: center;
        column-gap: 6px;
        z-index: 2;
    }
}

// @media (max-width: 1440px) {
// }
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
    .header {
        &__sud {
            grid-template-columns: 1fr max-content max-content max-content;
            min-height: 130px;
        }
    }
}
// @media (max-width: 768px) {
// }
// @media (max-width: 425px) {
// }
// @media (max-width: 375px) {
// }
// @media (max-width: 320px) {
//
@import "./top/_top.scss";
@import "./logo/_logo.scss";
@import "./search/_search.scss";
@import "./order/_order.scss";
@import "./liked-goods/_liked-goods.scss";
@import "./compare/_compare.scss";
@import "./basket/_basket.scss";
@import "./mobile-header/mobile-header.scss";
@import "./nav-product/_nav-product.scss";
