@import "./mob-liked-goods/_mob-liked-goods.scss";
@import "./mob-search/_mob-search.scss";
@import "./mob-order/_mob-order.scss";
@import "./mob-basket/_mob-basket.scss";
@import "./mob-nav/_mob-nav.scss";
@import "./mob-line/_mob-line.scss";
@import "./mob-compare/_mob-compare.scss";

.mobile-header {
    display: grid;
    position: fixed;
    top: -250%;
    left: 0;
    right: 0;
    min-height: 100%;
    background-color: $color-alpha;
    z-index: 3;
    transition: all 1s ease;

    &__sub {
        display: grid;
        grid-template-columns: max-content 1fr 1fr repeat(3, max-content);
        padding-top: 50px;
        min-height: 150px;
        align-items: center;
        column-gap: 6px;
    }
}
.wrap-liked {
    display: grid;
    grid-template-columns: max-content 1fr;
}
.wrap-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.wrap-order {
    justify-content: start;
}

@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 992px) {
    .header {
        &__sud {
            grid-template-columns: 1fr max-content max-content max-content;
        }
    }
    .mobile-header {
        grid-template-rows: max-content max-content max-content max-content;
        row-gap: 10px;
    }
    .mobile-header--active {
        top: 0%;
    }
}
// @media (max-width: 768px) {
// }
// @media (max-width: 425px) {
// }
// @media (max-width: 375px) {
// }
// @media (max-width: 320px) {
